:root {
  --green: #527853;
}

#input-container {
  display: flex;
  flex-direction: column;
}

#button-container {
  display: flex;
}

#room-info-dialog {
  width: 40%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(236, 231, 231, 0.3);
}

/* Styles for the dialog header */
#room-info-dialog h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  align-self: center;
}

/* Styles for the text field */
#room-name {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#room-name:focus {
  outline: none;
  border: 1px solid #ccc;
}

/* Styles for the buttons */
#join-room,
#close-dialog {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#join-room {
  background-color: var(--green);
  color: #fff;
  margin-right: 10px;
}

#close-dialog {
  background-color: #ccc;
  color: #333;
}

#input-error-msg {
  color: red;
  font-size: 18px;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This will center the container vertically */
}

.row {
  margin-bottom: 30px; /* Add some space between rows */
}

.container button {
  padding: 15px 20px;
  font-size: 16px;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80vw;
  max-width: 300px;
}

#create-room {
  background-color: var(--green);
}

#join-room-dialog {
  background-color: #ba704f; /*alternative: #DFA878*/
}

button:hover {
  opacity: 0.9;
}
