<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles/home_style.css" />
  </head>
  <body>
    <button id="create-room">Create a room</button>
    <button id="join-room-dialog">Join a room</button>

    <dialog id="room-info-dialog">
      <h2>Enter room name</h2>

      <div id="input-container">
        <input type="text" name="room" id="room-name" />
      </div>

      <div id="button-container">
        <button id="join-room">Join</button>
        <button id="close-dialog">Close</button>
      </div>
    </dialog>
    <!--  -->
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/scripts/home_script.js"></script>
</html>
